<div class="form-group msg-form">
  <%= form_for( [@conversation, @message], class: "d-flex" , remote: true ) do |form| %>
    <% if message.errors.any? %>

    <% end %>

    <div class="message-new">
    <%= form.text_field :content, id: 'chat-text', class: "form-control msg-content", autocomplete: 'off',placeholder: "Start a new message" %>
    <%= form.hidden_field :user_id, value: current_user.id%>
    <%= form.hidden_field :conversation_id, value: @conversation.id %>

      <button type="submit" class="create-message">
      <span><i class="bi bi-send"></i></span>
    </button>
    </div>


<% end %>
</div>

